.appointment-interface {
    background-color: lightgray;
    padding: 1.0em;
}

.appointment-interface-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 3.0rem;
    margin-bottom: 1.0em;
}

.appointment-interface-icon {
    color: red;
}

.appointment-list {
    margin-top: 2.0em;
}